body {
	background-color: DarkGoldenRod;
	font-family: Broadway;
}
a {
	color: lightblue;
}
header {
	color: darkblue;
	text-align: center;
	vertical-align: center;
	font-family: Forte;
}
span {
	color: darkblue;
}